{% extends 'base.html' %}
{% load staticfiles %}

{% block body_id %}id_index{% endblock body_id %}

{% block extrastyles %}<link href="{% static 'css/index.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<div class="jumbotron">
			  <h2>Bienvenue sur CASIR Messenger</h2>
			  <h3>CASIR Messenger, la messagerie éphémère !</h3>
			  <p><a class="btn btn-primary btn-lg" href="#TODO" role="button">Comment ça marche ?</a></p>
			</div>
		</div>
		<div class="col-lg-offset-1 col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <form method='POST' action =".">
                        {% csrf_token %}
                          {% for error in authentication_form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                          {% endfor %}
                          {% for field in authentication_form %}
                            <div class="form-group {%  if field.errors %}has-error{% endif %}">
                                 {%  if field.errors %}
                                    <label class="control-label">{{ field.label }}: {%  for error in field.errors %}{{ error }} {% endfor %}</label>
                                {% endif %}
                                {{ field }}
                            </div>
                          {% endfor %}
                      <button type="submit" class="btn btn-primary btn-block btn-lg" name="login">Se connecter</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Nouveau sur CASIR Messenger</h3>
                    <form method='POST' action ="." >
                        {% csrf_token %}

                        <div class="form-group {% if registration_form.username.errors %}has-error{% endif %}">
                             {%  if registration_form.username.errors %}
                                <label class="control-label">{{ registration_form.username.label }}: {% for error in registration_form.username.errors %}{{ error }} {% endfor %}</label>
                            {% endif %}
                            {{ registration_form.username }}
                        </div>

                        <div class="form-group {% if registration_form.email.errors %}has-error{% endif %}">
                             {%  if registration_form.email.errors %}
                                <label class="control-label">{{ registration_form.email.label }}: {% for error in registration_form.email.errors %}{{ error }} {% endfor %}</label>
                            {% endif %}
                            <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1">@</span>
                              {{ registration_form.email }}
                            </div>
                        </div>

                        <div class="form-group {% if registration_form.password.errors %}has-error{% endif %}">
                             {%  if registration_form.password.errors %}
                                <label class="control-label">{{ registration_form.password.label }}: {% for error in registration_form.password.errors %}{{ error }} {% endfor %}</label>
                            {% endif %}
                            {{ registration_form.password }}
                        </div>

                      <button type="submit" class="btn btn-primary btn-block btn-lg" name="register">S'inscrire</button>
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock content %}
